* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, #595cff, #c6f8ff, #ffa585);
  background-size: 200% 200%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
  height: 100vh;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background: linear-gradient(-45deg, #c6f8ff, #595cff, #ffa585);
  min-height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
}
header h1 {
  font-size: 1.5rem;
}
header input[type=checkbox] {
  visibility: hidden;
}
header .todo {
  background-color: rgba(89, 92, 255, 0.2588235294);
  border: none;
  color: white;
  padding: 1vh;
  text-align: center;
  text-decoration: none;
  margin: 2%;
  min-width: 5vw;
  border: 1px solid white;
}
header button {
  background-color: rgba(89, 92, 255, 0.2588235294);
  border: 1px solid white;
  border-radius: 60px;
  color: white;
  padding: 2vh;
  text-align: center;
  text-decoration: none;
  margin: 1%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 1rem;
}
header a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80vh;
  margin-top: 15vh;
}
main section {
  display: flex;
  flex-direction: column;
  margin: 2%;
  background-color: rgba(243, 243, 243, 0.6039215686);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main section h2 {
  font-size: 1rem;
  padding: 5%;
  text-transform: uppercase;
}
main section article {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  padding: 2%;
  text-align: center;
  border: 2px solid white;
}
main section article h2 {
  font-size: 1.25rem;
  padding: 0;
  text-align: center;
  font-family: "Urbanist", sans-serif;
}
main section article h3 {
  font-size: 1rem;
  font-family: "Elsie", cursive;
  text-align: left;
}
main section article h4 {
  font-family: "Elsie", cursive;
  text-align: left;
}
main section article p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Elsie", cursive;
}

.todo-div,
.doing-div,
.done-div {
  min-height: 25vh;
  padding-bottom: 10vh;
}

.todo .todo-div article h2 {
  background-color: rgba(221, 94, 47, 0.4588235294);
}
.todo #todo {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  text-decoration: underline;
}

.doing .doing-div article h2 {
  background-color: rgba(89, 92, 255, 0.4588235294);
}
.doing #doing {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  text-decoration: underline;
}

.done .done-div article h2 {
  background-color: rgba(99, 199, 157, 0.4588235294);
}
.done #done {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  text-decoration: underline;
}

.add-task-form {
  display: none;
  flex-direction: column;
  margin-top: 10vh;
}
.add-task-form input {
  padding: 2%;
  margin: 0 5%;
}
.add-task-form select {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.add-task-form label {
  margin-top: 5%;
  margin-left: 5%;
}
.add-task-form button {
  margin: 5%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(89, 92, 255, 0.2588235294);
  color: white;
  padding: 1%;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 2%;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  header h1 {
    width: 100%;
    margin-left: 2%;
  }
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15vh;
  }
  aside {
    margin: auto;
    width: 50%;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    width: 75%;
  }
}/*# sourceMappingURL=style.css.map */